@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Core.Models
@using Umbraco.Web
@{
    IEnumerable<IPublishedContent> selection = Model.Content.Root().DescendantOfType("imageWidgetOverview").Children
        .OrderByDescending(x => x.SortOrder).Take(1);
    
    string titleText = "";
    string captionText = "";

    int grid = 4;
    double gridCol = 12 / grid;
    var intGridCol = (int)Math.Ceiling(gridCol);
}

@foreach (var item in selection)
{
    var image = item.Value<IPublishedContent>("cover");
    var pdf = item.Value<IPublishedContent>("eCopy");

    titleText = "Den ny Verdensimpuls nr. " +  item.Value<IPublishedContent>("issue") + " " +  item.Value<IPublishedContent>("volume");

        //captionText = (i == 0) ? "det nye nummer" : "nr. " + item.GetPropertyValue("issue") + " " + item.GetPropertyValue("volume");
        captionText = (DateTime.Now.Subtract(item.CreateDate).TotalDays > 31 ) ? "det nyeste nummer" : "det nye nummer";

        <div class="card" style="text-align:center;background-color:white;border:hidden">
            <div style="padding: 1em 0 0.5em 0;">
                <a rel="noopener" href="@pdf.Url" target="_blank" title="@titleText">
                    <img style="width: 90%; border: solid 1px;" sizes="(min-width: 1200px) calc(1120px / @intGridCol), (min-width: 992px) calc(920px / @intGridCol), (min-width: 768px) calc(700px / @intGridCol), 100vw" srcset="@image.Url?width=200 200w,@image.Url?width=200 200w,@image.Url?width=340 340w,@image.Url?width=447 447w,@image.Url?width=541 541w,@image.Url?width=628 628w,@image.Url?width=703 703w,@image.Url?width=775 775w,@image.Url?width=843 843w, @image.Url?width=908 908w,@image.Url?width=967 967w,@image.Url?width=1023 1023w,@image.Url?width=1082 1082w,@image.Url?width=1135 1135w,@image.Url?width=1188 1188w,@image.Url?width=1242 1242w,@image.Url?width=1291 1291w,@image.Url?width=1340 1340w, @image.Url?width=1387 1387w,@image.Url?width=1431 1431w,@image.Url?width=1476 1476w,@image.Url?width=1520 1520w,@image.Url?width=1565 1565w,@image.Url?width=1605 1605w,@image.Url?width=1650 1650w,@image.Url?width=1690 1690w, @image.Url?width=1729 1729w,@image.Url?width=1765 1765w,@image.Url?width=1805 1805w,@image.Url?width=1847 1847w,@image.Url?width=1885 1885w,@image.Url?width=1923 1923w,@image.Url?width=1956 1956w,@image.Url?width=1995 1995w,@image.Url?width=2031 2031w,@image.Url?width=2069 2069w,@image.Url?width=2101 2101w,@image.Url?width=2137 2137w,@image.Url?width=2170 2170w,@image.Url?width=2206 2206w,@image.Url?width=2240 2240w" src="@image.Url" alt="@titleText" />
                </a>
            </div>
                <p style="text-decoration:none;">
                    <a rel="noopener" href="@pdf.Url" target="_blank" title="@titleText">Download @captionText</a>
                </p>
        </div>
}