@inherits Umbraco.Web.Mvc.UmbracoViewPage<DnvArticle>
@using Umbraco.Core.Models
@using Umbraco.Web
@using System.Text.RegularExpressions;
@using ContentModels = Umbraco.Web.PublishedModels;

@{
    Layout = "Master.cshtml";

}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @if (@Model.Headline != null && @Model.SubHeadline != null)
            {
                <h1>@Model.Headline</h1>
                <p class="sub-headline" style="font-size:130%">@Model.SubHeadline</p>
            }
            else if (@Model.Headline != null)
            {
                <h1>@Model.Headline</h1>
            }

            @if (@Model.Author != null)
            {
                <div class="author">af @Model.Author</div>
            }

            @if (@Model.Intro != null && @Model.Author != "Martinus" && Convert.ToBoolean(@Model.CopyrightProtected) == false) // MI copyright protection
            {

                <div class="article-intro">@Model.Intro</div>
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>



@if (Html.GetGridHtml(Model, "bodyText").ToString().Length > 0 && @Model.Author != "Martinus" && Convert.ToBoolean(@Model.CopyrightProtected) == false) // MI copyright protection
{
    @Html.GetGridHtml(Model, "bodyText")
}
else // MI copyright protection
{
    string str = @Model.Author == "Martinus" ? "Det har ikke været muligt at få tillladelse fra Martinus Institut til at bringe denne artikel"  : "Det har ikke været muligt at få tillladelse fra Martinus Institut til at bringe denne artikel, da den indeholder symboler af Martinus";

    <div class="container">
        <div class="row">
            <div class="col-md-8">@str</div>
            <div class="col-md-4"></div>
        </div>
    </div>
}


<div class="container">

    @if (@Model.Source != null && @Model.Author != "Martinus" && Convert.ToBoolean(@Model.CopyrightProtected) == false) // MI copyright protection
    {
        <div class="row">
            <div class="col-sm-8">
                <span class="small">
                    <em>
                        @Model.Source
                    </em>
                </span>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    }

    @if (@Model.Footnotes.ToString().Length > 10 && @Model.Author != "Martinus" && Convert.ToBoolean(@Model.CopyrightProtected) == false) // MI copyright protection
    {
        <div class="row">
            <div class="col-md-8">
                <h2>Noter</h2>
                <span class="small">
                    @Model.Footnotes
                </span>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
    @if (@Model.ReadMore.ToString().Length > 10 && @Model.Author != "Martinus" && Convert.ToBoolean(@Model.CopyrightProtected) == false) // MI copyright protection
    {
        <div class="row">
            <div class="col-md-8">
                <h2>Læs mere</h2>
                <span class="small">
                    @Model.ReadMore
                </span>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
</div>
